<div id="FirstContainer" class="col-md-12 block">
  <div class="col-md-12 block">
<p id="notice"><%= notice %></p>

<h1>Conductores</h1>

<br><br>
<% if @drivers.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table id="Datatable" data-src="drivers" class="table display scroll table-striped table-bordered Optional" data-toggle="table" data-detail-view="true" data-detail-formatter="detailFormatter">
  <thead>
    <tr>
     <th>ID/Activo</th>
    <th>Nombre</th>
     <th>Código</th>
      <th>RFC</th>
      <th class="Optionsth">Opciones</th>
    </tr>
  </thead>
        

  <tbody>
<% @drivers.each_with_index do |driver, index| %>
      <tr selID = "<%= driver.id %>">
      <% if driver.active  %>

    <% if driver.rfc != '' && driver.hiredDate && driver.code != '' && driver.department != '' %>
          <td id="activol">  <%= index + 1  %></td>
        <%else%>
          <td id="activolp">  <%= index + 1  %></td>
    <%end %>
  <%else%>
    <td id="inactivol"> <%= index + 1  %></td>
  <%end%>
        
       
      <td><%= driver.names %> <%= driver.lastnames %></td>
      <td><%= driver.code %></td>
      <td><%= driver.rfc %> </td>
         <td>
        <div class="dropdown">
    <button class="btn btn-warning btn-options dropdown-toggle" type="button" data-toggle ="dropdown">Opciones
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><%= link_to 'Mostrar', driver %></li>
        <li><%= link_to 'Editar', edit_driver_path(driver) %></li>
        <li><%= link_to 'Eliminar', driver, method: :delete, data: { confirm: '¿Está seguro(a)?' } %></li>
    </ul>
      </div>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>
    <% end %>
<br>
</div>
</div>

<div id="SecondContainer" class="col-md-5 block">
  <div class="tab-content">
 

    <div id="sectionA" class="tab-pane fade in active">

      <span id="RowDetails">
      </span>
    </div>
    <div id="sectionB" class="tab-pane fade">
      
    </div>
     <div id="sectionC">
      <button  id = "btnCloseDetails" class="btnx btn-danger">Cerrar</button>
    </div>

  </div>
</div>
