<p id="notice"><%= notice %></p>

<h1>Estados</h1>
<button class="btn2 btn-danger btn-lg"
onclick="window.location.href = '/states/new'">
Nuevo
</button>

<br>
<% if @states.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table id="Datatable" data-src="buyers" class="table scroll table-striped table-bordered Optional">
  <thead>
    <tr>
     <th> <button>#</button></th>
     <th>Nombre</th>
     <th>Código</th>
     <th>Categoría</th>
      <th class="Optionsth">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @states.each_with_index do |state,index| %>
      <tr>
       <td><%= index +1 %></td>
       <td><%= state.name%></td>
       <td><%= state.code%></td>
       <td><%= state.grade%></td>
       <td>
        <div class="dropdown">
    <button class="btn btn-warning btn-options dropdown-toggle" type="button" data-toggle ="dropdown">Opciones
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><%= link_to 'Mostrar', state %></li>
        <li><%= link_to 'Editar', edit_state_path(state) %></li>
        <li><%= link_to 'Eliminar', state, method: :delete, data: { confirm: '¿Está seguro(a)?' } %></li>
          </ul>
      </div>
    </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State', new_state_path %>
