<%= form_with(model: carrier_line, local: true) do |form| %>
  <% if carrier_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrier_line.errors.count, "error") %> prohibited this carrier_line from being saved:</h2>

      <ul>
      <% carrier_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12 block formulary">
        <div class="col-md-12 block">
          <div class="form-group">
            <%= form.label :name,"Nombre", class: "control-label  col-sm-1" %>
              <div class="col-sm-11 ">
                <%= form.text_field :name, id: :cl_name, class: "form-control border" %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :legalName ,"Raz贸n Social", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :legalName, id: :cl_legalName, class: "form-control border" %>
              </div>
          </div>
              <div class="form-group">
            <%= form.label :tel ,"Telef贸no", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :tel, id: :cl_tel, class: "form-control border" %>
              </div>
          </div>
              <div class="form-group">
            <%= form.label :mail ,"Correo electr贸nico", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :mail, id: :cl_mail, class: "form-control border" %>
              </div>
          </div>
              <div class="form-group">
            <%= form.label :commercialBusiness ,"Giro", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :commercialBusiness, id: :cl_cb, class: "form-control border" %>
              </div>
          </div>
             <div class="form-group">
            <%= form.label :code ,"C贸digo:", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :code, id: :cl_code, class: "form-control border" %>
              </div>
          </div>
     
           
        </div>

      </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
