<p id="notice"><%= notice %></p>

<h1>Carrier Lines</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrier_lines.each do |carrier_line| %>
      <tr>
        <td><%= link_to 'Show', carrier_line %></td>
        <td><%= link_to 'Edit', edit_carrier_line_path(carrier_line) %></td>
        <td><%= link_to 'Destroy', carrier_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrier Line', new_carrier_line_path %>
