<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user.company_id? %>
  <H1>Ya existe una compañia ligada a este usuario</H1>
  <%else%>
<div class="col-md-12 block formulary">
        <div class="col-md-12 block">
          <div class="form-group">
            <%= form.label :name,"Nombre", class: "control-label  col-sm-1" %>
              <div class="col-sm-11 ">
                <%= form.text_field :name, id: :audit_results, class: "form-control border" %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :legalName ,"Razón Social", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :legalName, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :code ,"Número de asociación", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :code, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
      <div class="form-group">
            <%= form.label :tel ,"Telefóno", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :tel, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
           
        </div>

      </div>
      <%end%>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
