<%= form_with(model: company_line, local: true) do |form| %>
  <% if company_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_line.errors.count, "error") %> prohibited this company_line from being saved:</h2>

      <ul>
      <% company_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-12 block formulary">
        <div class="col-md-12 block">
          <div class="form-group">
            <%= form.label :carrier_line_id,"Línea de transporte", class: "control-label  col-sm-1" %>
              <div class="col-sm-11 ">
                <%= form.text_field :carrier_line_id, id: :audit_results, class: "form-control border" %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :company_id ,"Compañia", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :company_id, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
         
     
           
        </div>

      </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
