<p id="notice"><%= notice %></p>

<h1>Gastos de tárifa</h1>
<button class="btn2 btn-danger btn-lg"
onclick="window.location.href = '/rate_expenses/new'">
Nuevo
</button>

<br>
<% if @rate_expenses.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table id="Datatable" data-src="buyers" class="table scroll table-striped table-bordered Optional">
  <thead>
    <tr>
     <th> <button>#</button></th>
       <th>Nombre</th>
       <th>Descripción</th>
       <th>Costo</th>
      <th class="Optionsth">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @rate_expenses.each_with_index do |rate_expense, index| %>
      <tr>
        <td><%= index +1 %></td>
        <td><%= rate_expense.name %></td>
         <td><%= rate_expense.description %></td>
        <td><%= rate_expense.cost %></td>
        <td >
        <div class="dropdown">
  <button class="btn btn-warning btn-options dropdown-toggle" type="button" data-toggle="dropdown">Opciones
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li> <%= link_to 'Mostrar', rate_expense %></li>
    <li><%= link_to 'Editar', edit_rate_expense_path(rate_expense) %></li>
    <li><%= link_to 'Eliminar', rate_expense, method: :delete, data: { confirm: '¿Está seguro(a)?' } %></li>
  </ul>
  </div>
</td> 
        
      </tr>
    <% end %>
  </tbody>
</table>
    <% end %>
<br>


