<p id="notice"><%= notice %></p>

<h1>Rate Expenses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rate_expenses.each do |rate_expense| %>
      <tr>
        <td><%= link_to 'Show', rate_expense %></td>
        <td><%= link_to 'Edit', edit_rate_expense_path(rate_expense) %></td>
        <td><%= link_to 'Destroy', rate_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate Expense', new_rate_expense_path %>
