<%= form_with(model: type_scaffold, local: true) do |form| %>
  <% if type_scaffold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_scaffold.errors.count, "error") %> prohibited this type_scaffold from being saved:</h2>

      <ul>
      <% type_scaffold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12 block formulary">
        <div class="col-md-12 block">

         <div class="form-group">
            <%= form.label :description ,"Descripción", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :description, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
           <div class="form-group">
            <%= form.label :weigth ,"Peso", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :weigth, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :size ,"Tamaño", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :size, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :category ,"Categoría", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :category, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
               <div class="form-group">
            <%= form.label :cost ,"Costo", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :cost, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
           <div class="form-group">
            <%= form.label :extraHours ,"Horas extra", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :extraHours, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
             <div class="form-group">
            <%= form.label :active ,"Activo", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.check_box :active, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
             <div class="form-group">
            <%= form.label :license_id ,"Licencia", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :license_id, id: :audit_description, class: "form-control border" %>
              </div>
          </div>

        </div>

</div>

 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
