<p id="notice"><%= notice %></p>

<h1>Tipo de parada</h1>
<button class="btn2 btn-danger btn-lg"
onclick="window.location.href = '/type_scaffolds/new'">
Nuevo
</button>

<br>
<% if @type_scaffolds.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table id="Datatable" data-src="buyers" class="table scroll table-striped table-bordered Optional">
  <thead>
    <tr>
    <th>#</th>
    <th>Descrición</th>
    <th>Peso</th>
    <th>Tamaño</th>
    <th>Categoría</th>
    <th>Costo</th>
      <th class="Optionsth"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_scaffolds.each_with_index do |type_scaffold,index| %>
      <tr>
        <td><%= index +1 %></td>
        <td><%= type_scaffold.description %></td>
        <td><%= type_scaffold.weigth %></td>
        <td><%= type_scaffold.size %></td>
        <td><%= type_scaffold.category %></td>
        <td><%= type_scaffold.cost %></td>
        <td>
        <div class="dropdown">
    <button class="btn btn-warning btn-options dropdown-toggle" type="button" data-toggle ="dropdown">Opciones
    <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Mostrar', type_scaffold %></li>
        <li><%= link_to 'Editar', edit_type_scaffold_path(type_scaffold)%></li>
        <li><%= link_to 'Eliminar', type_scaffold, method: :delete, data: { confirm: '¿Está seguro(a)?' } %></li>
      </ul>
       </div>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end %>
<br>
