<p id="notice"><%= notice %></p>

<h1>Clientcontacts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientcontacts.each do |clientcontact| %>
      <tr>
        <td><%= link_to 'Show', clientcontact %></td>
        <td><%= link_to 'Edit', edit_clientcontact_path(clientcontact) %></td>
        <td><%= link_to 'Destroy', clientcontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clientcontact', new_clientcontact_path %>
