<% if user_signed_in? %>

<%= link_to 'Editar', edit_customer_path(@customer) %> |
<%= link_to 'Volver', customers_path %>
<p id="notice"><%= notice %></p>
<div class="showtemp">
<% if @customer.active  %>
 
    <% if @customer.tel != '' && @customer.address && @customer.country != '' && @customer.schedule != '' %>
  <div id="activo">Activo</div>
  
  <%else%>
   <div id="activo">Activo</div>
    <div id="activop">Registro de cliente incompleto</div>
  <%end%>
  <%else%>
    <div id="inactivo">Inactivo</div>
  <%end%>
  <p>
  <strong>Nombre:</strong>
  <%= @customer.names %> <%= @customer.lastnames %>
</p>
 <p>
  <strong>Direcci贸n:</strong>
  <%= @customer.address %>
</p>
<p>
  <strong>Direcci贸n (Localidad):</strong>
  <%= @customer.city %> , <%= @customer.state %>,  <%= @customer.country %>.
</p>
 <p>
  <strong>C贸digo postal:</strong>
  <%= @customer.cp %>
</p>
 <p>
  <strong>Notas:</strong>
  <%= @customer.notes %>
</p>
<p>
  <strong>Contacto:</strong>
  <strong>Tel:</strong><%= @customer.tel %> / <strong>M贸vil:</strong><%= @customer.movil %>
</p>
 <p>
  <strong>Horario:</strong>
  <%= @customer.schedule %>
</p>

</div>
<div id="activop" class="">Contactos de cliente</div>

<div id="activop" class="">Bodega</div>


<%end%>