<%= form_with(model: travel, local: true) do |form| %>
  <% if travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12 block">
        <div class="col-md-12 block">
          <div class="form-group">
            <%= form.label :gpsReads,"GPS", class: "control-label col-sm-1" %>
              <div class="col-sm-11 ">
                <%= form.text_field :gpsReads, id: :travel_Reads, class: "form-control border" %>
              </div>
          </div>
      
        </div>
      </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
