<div id="FirstContainer" class="col-md-12 block">
  <div class="col-md-12 block">
<p id="notice"><%= notice %></p>

<h1>Viajes en curso</h1>
<button class="btn2 btn-danger btn-lg"
onclick="window.location.href = '/travels/new'">
Nuevo
</button>
<br><br>
<% if @travels.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table id="Datatable" data-src="travels" class="table display scroll table-striped table-bordered Optional" data-toggle="table" data-detail-view="true" data-detail-formatter="detailFormatter">
  <thead>
    <tr>
      <th>ID</th>
      <th>Lecturas GPS</th>
      <th>Detalles</th>
      <th>Línea transportista</th>
       <th>Chofer</th>
       
        <th class="Optionsth">Opciones</th>
    </tr>
  </thead>

  <tbody>
  
    <% @travels.each_with_index do |travel, index| %>
    <tr selID = "<%= travel.id %>">
     
       <% if travel.active  %>
  <td id="activol">  <%= index + 1  %></td>
  <%else%>
    <td id="inactivol"> <%= index + 1  %></td>
  <%end%>

        <td><%= travel.gpsReads %></td>
         <td><%= travel.details %></td>
  
           <td><%= travel.carrier_line_id %></td>
           <td><%= travel.driver_id %></td>
           
             <td>
        <div class="dropdown">
    <button class="btn btn-warning btn-options dropdown-toggle" type="button" data-toggle ="dropdown">Opciones
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><%= link_to 'Mostrar', travel %></li>
        <li><%= link_to 'Editar', edit_travel_path(travel) %></li>
        <li><%= link_to 'Eliminar', travel, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
      </div>
    </td>

      </tr>
    <% end %>
    
  </tbody>
</table>
 <% end %>
<br>
</div>
</div>


<div id="SecondContainer" class="col-md-5 block">
  <div class="tab-content">
 

    <div id="sectionA" class="tab-pane fade in active">

      <span id="RowDetails">
      </span>
    </div>
    <div id="sectionB" class="tab-pane fade">
      
    </div>
     <div id="sectionC">
      <button  id = "btnCloseDetails" class="btnx btn-danger">Cerrar</button>
    </div>

  </div>
</div>


