<p id="notice"><%= notice %></p>

<h1>Viajes</h1>
<button><%= link_to 'Nuevo Viaje', new_travel_path %></button>
<br>
<% if @travels.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @travels.each do |travel| %>
      <tr>
        <td><%= link_to 'Show', travel %></td>
        <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
        <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
     <% end %>
  </tbody>
</table>

<br>


