<p id="notice"><%= notice %></p>

<h1>Bodegas</h1>
<button class="btn2 btn-danger btn-lg"
onclick="window.location.href = '/warehouses/new'">
Nuevo
</button>

<br>
<% if @warehouses.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table id="Datatable" data-src="warehouses" class="table scroll table-striped table-bordered Optional">
  <thead>
    <tr>
    <th>#</th>
     <th>Horario</th>
      <th>Teléfono</th>
       <th>Contacto</th>
    <th class="Optionsth">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each_with_index do |warehouse,index| %>
      <tr>
      <td><%= index +1 %></td>
       <td><%= warehouse.scheduleStart%>-<%= warehouse.scheduleEnd%></td>
       <td><%= warehouse.tel%></td>
         <td><%= warehouse.clientcontact_id%></td>
      <td>
        <div class="dropdown">
    <button class="btn btn-warning btn-options dropdown-toggle" type="button" data-toggle ="dropdown">Opciones
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><%= link_to 'Mostrar', warehouse %></li>
        <li><%= link_to 'Editar', edit_warehouse_path(warehouse) %></li>
        <li><%= link_to 'Eliminar', warehouse, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
      </div>
    </td> 
      </tr>
    <% end %>
  </tbody>
</table>
    <% end %>
<br>

<%= link_to 'New Warehouse', new_warehouse_path %>
