<p id="notice"><%= notice %></p>

<h1>Bodegas</h1>
<button class="btn2 btn-danger btn-lg"
onclick="window.location.href = '/warehouses/new'">
Nuevo
</button>

<br>
<% if @warehouses.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table id="Datatable" data-src="buyers" class="table scroll table-striped table-bordered Optional">
  <thead>
    <tr>
    <th>#</th>
     <th>Horario</th>
      <th>Teléfono</th>
       <th>Contacto</th>
    <th class="Optionsth">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= link_to 'Show', warehouse %></td>
        <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
        <td><%= link_to 'Destroy', warehouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_warehouse_path %>
