<p id="notice"><%= notice %></p>

<div class="col-md-4">
  <% if user_signed_in? %>
   <!-- <img src="http://s3-us-west-2.amazonaws.com/testvaleria/images/Paul.jpg.jpg"/>-->
 
    <%= 
     if @user.user_img? 
  longurlimg = @user.user_img.to_s.length;
  dt =  @user.user_img.to_s.index('?');
   urlimg = @user.user_img.to_s[0..dt].to_s;
    urlimg[7..8] = "s3-us-west-2";
    image_tag( "#{urlimg}" , :alt => "rss feed", :class => "picturebox");
  else
    image_tag( "/assets/default.png" , :alt => "rss feed", :class => "picturebox");
  end
     %>
</div>
<div class="col-md-8">
<div class="showtemp">
<% if @user.active  %>
  <% if @user.section != '' && @user.category != '' &&  @user.RFC != ''  %>
  <div id="activo">Activo</div>
   
  <%else %>
   <div id="activo">Activo</div>
   <div id="activop">Registro de usuario incompleto</div>
   <%end%>
  <%else%>
    <div id="inactivo">Inactivo</div>
  <%end%>
  <p>
  <center><H2><%= @user.name %>   <%= @user.lastName %></H2>
  </p>
   <p>
  <strong>Rol:</strong>
  <%= @user.rol %>
  </p>
  <p>
  <strong>Sección:</strong>
  <%= @user.section %>
  </p> 
   <p>
  <strong>Categoría:</strong>
  <%= @user.category %>
  </p> 
  <p>
  <strong>RFC:</strong>
  <%= @user.RFC %>
  </p> 
   <p>
  <strong>Fecha de nacimiento:</strong>
  <%if DateTime.now.utc.to_date == @user.birthday.to_s.to_date%>
         <% image_tag( "/assets/gift.png" , :alt => "rss feed", :class => "pictureboxmin");%>
         <img src="/assets/gift.png" alt="Mountain View" class="pictureboxmin">
      <%end%>
  <%= @user.birthday.to_s.to_date%>
  </p> 
</center>

</div>

</div>

    <% end %>