<!DOCTYPE html>
<html>
  <head>
<script src="/assets/jquery.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script>
window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>');
</script>
    <script src="/assets/jquery-ui.js" type="text/javascript"></script>
    <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


	
    <!-- css -->

 <!--   <link href="assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/layout.css" rel="stylesheet" type="text/css" />
	<link href="assets/layout.min.css" rel="stylesheet" />
	<link href="assets/layout-rtl.css" rel="stylesheet" />
    <link href="assets/layout-rtl.min.css" rel="stylesheet">-->

	<!-- template skin -->
	<!--<link id="t-colors" href="color/default.css" rel="stylesheet">-->

  </head>

  <body>
    <div id="wrapper">
        <div class="overlay"></div>
    
  <!-- Sidebar -->
    <% if user_signed_in? %>
    
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <ul class="nav sidebar-nav" id="side-list">
                <li class="sidebar-brand">
                    <a href="#">
                       Brand
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/users_admin">Mis usuarios</a>
                </li>
                <li>
                    <a href="/audits">Auditorías</a>
                </li>
                <li>
                    <a href="/carrier_lines">Líneas </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="https://twitter.com/maridlcrmn">Follow me</a>
                </li>
            </ul>
              </div>
        </nav>
         <% end %>
       
        <!-- /#sidebar-wrapper -->
      <%= render 'layouts/site_header' %>
      <div id="content" class="">
      <div class="container">
        <div class="row">
          <div class=" block" id="page">
          
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /#wrapper -->
  </body>
</html>
