<%= form_with(model: stand, local: true) do |form| %>
  <% if stand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stand.errors.count, "error") %> prohibited this stand from being saved:</h2>

      <ul>
      <% stand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12 block formulary">
        <div class="col-md-12 block">
          <div class="form-group">
            <%= form.label :name,"Nombre", class: "control-label  col-sm-1" %>
              <div class="col-sm-11 ">
                <%= form.text_field :name, id: :audit_results, class: "form-control border" %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :description ,"Descripción", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :description, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
           <div class="form-group">
            <%= form.label :timeMax ,"Tiempo máximo", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :timeMax, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :extSpent ,"Gasto extra", class: "control-label col-sm-1" %> 
              <div class="col-sm-11">
                <%= form.text_field :extSpent, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
             <div class="form-group">
            <%= form.label :location_id ,"Dirección", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= select(:stand, :location_id, @mylocations.map {|v| [
                v['address'] , v['id'] ] }) %>
              </div>
          </div>
              <div class="form-group">
            <%= form.label :rate_expense_id ,"Dirección", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= select(:stand, :rate_expense_id, @myrateExpenses.map {|v| [
                v['name'] , v['id'] ] }) %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :state_id ,"Dirección", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= select(:stand, :state_id, @mystates.map {|v| [
                v['name'] , v['id'] ] }) %>
              </div>
          </div>
          
     
           
        </div>

      </div>

  <div class="actions">
  
    <%= form.submit %>
  </div>
<% end %>
