<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<%= link_to 'Editar', edit_stand_path(@stand) %> |
<%= link_to 'Volver', stands_path %>

<p>
  <strong>Nombre:</strong>
  <%= @stand.name %>
	</p>
<p>
  <strong>Descrici칩n:</strong>
  <%= @stand.description %>
	</p>
	<p>
  <strong>Tiempo m치ximo:</strong>
  <%= @stand.timeMax %>
	</p>
	<p>
  <strong>Gasto extra:</strong>
  <%= @stand.extSpent %>
	</p>
	<p>
  <strong>Direcci칩n:</strong>
  <%= @stand.location_id %>
	</p>
	<p>
  <strong>Gasto de t치rifa:</strong>
  <%= @stand.rate_expense_id %>
	</p>
<p>
  <strong>Estado:</strong>
  <%= @stand.state_id %>
	</p>
<%end%>