
<%= form_with(model: load, local: true) do |form| %>
  <% if load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% load.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-12 block formulary">
        <div class="col-md-12 block">
          <div class="form-group">
            <%= form.label :arrivalDate,"Fecha de llegada", class: "control-label  col-sm-1" %>
              <div class="col-sm-11 ">
                <%= form.text_field :arrivalDate, id: :datepicker_load, class: "form-control datepicker border" %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :packageNumber ,"Número de lote", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :packageNumber, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
             
         
              <div class="form-group">
            <%= form.label :details ,"Detalles", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :details, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
             
              <div class="form-group">
            <%= form.label :cost ,"Costo", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :cost, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
              <div class="form-group">
            <%= form.label :customer_id ,"Cliente", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                    <%= select(:load, :customer_id, @myclients.map {|v| [
                v['names'] + v['lastnames'], v['id'] ] }) %>
              </div>
          </div>

            <div class="form-group">
            <%= form.label :warehouse_id ,"Bodega", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                
                    <%= select(:load, :warehouse_id, @mywarehouses.map {|v| [
                v['name'], v['id'] ] }) %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :state_id ,"Estado", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                    <%= select(:load, :state_id, @mystates.map {|v| [
                ' #' + v['code']  + ' '+ v['name'], v['id'] ] }) %>
              </div>
          </div>
           
              
   <div class="form-group">
            <%= form.label :type_scaffolds_id ,"Estructura", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                   <%= select(:load, :type_scaffolds_id, @mypeScaffold.map {|v| [
                v['description'] , v['id'] ] }) %>
              </div>
          </div>

          
          <div class="form-group">
          <%= form.label :active ,"Verificado", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
            <%= form.check_box :active, id: :load_check, class: "form-control border" %>
             </div>
          </div>
         

           
        </div>

      </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
