<%= form_with(model: truck, local: true) do |form| %>
  <% if truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12 block formulary">
        <div class="col-md-12 block">
          <div class="form-group">
            <%= form.label :enrollment,"Tipo", class: "control-label  col-sm-1" %>
              <div class="col-sm-11 ">
                <%= form.text_field :enrollment, id: :audit_results, class: "form-control border" %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :model ,"Modelo", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :model, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :quality ,"Calidad", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :quality, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
           <div class="form-group">
            <%= form.label :mileage ,"Distancia recorrida", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :mileage, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :wheels ,"Estado de las llantas", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :wheels, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :gas ,"Porcentaje de consumo (Gasolina)", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :gas, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :loadCapacity ,"Capacidad de carga", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :loadCapacity, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :year ,"Año", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :year, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :producer ,"Productor", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :producer, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
          <div class="form-group">
            <%= form.label :BoxSize ,"Tamaño de la caja", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :BoxSize, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
            <div class="form-group">
            <%= form.label :license_id ,"Licencia", class: "control-label col-sm-1" %>
              <div class="col-sm-11">
                <%= form.text_field :license_id, id: :audit_description, class: "form-control border" %>
              </div>
          </div>
     
           
        </div>

      </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
