<p id="notice"><%= notice %></p>

<h1>Unidad (Camión) </h1>

<br>
<% if @trucks.count == 0 %>
  <img src="/assets/0.png" alt="Mountain View" class="espaciolibre">
  <%else %>
<table id="Datatable" data-src="buyers" class="table scroll table-striped table-bordered">
  <thead>
    <tr>
    <th>#</th>
    <th>Tipo</th>
    <th>Modelo</th>
     <th>Calidad</th>
      <th>Distancia recorrida</th>
       <th>Llantas</th>
        <th>Gasolina</th>
         <th>Capacidad de carga</th>
     <th colspan="Optionsth">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each_with_index do |truck, index| %>
      <tr>
      <td> <%= index + 1 %></td>
      <td><%= truck.enrollment %></td>
      <td><%= truck.model %></td>
      <td><%= truck.quality %></td>
      <td><%= truck.mileage%></td>
        <td><%= truck.wheels %></td>
        <td><%= truck.gas %></td>
        <td><%= truck.loadCapacity %></td>
        <td>
           <div class="dropdown">
    <button class="btn btn-warning btn-options dropdown-toggle" type="button" data-toggle ="dropdown">Opciones
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><%= link_to 'Mostrar', truck %></li>
        <li><%= link_to 'Editar', edit_truck_path(truck) %></li>
        <li><%= link_to 'Eliminar', truck, method: :delete, data: { confirm: '¿Está seguro(a)?' } %></li>
    </ul>
      </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    <% end %>
<br>

